<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
     <!-- some content here -->
  </div>
   <div class="fixed">
       <ion-list>
         <ion-item *ngFor="let cliente of clientes">
          <ion-label  [routerLink]="['/cliente/'+cliente.usuario]"> NICK: {{cliente.usuario}} NOMBRE: {{cliente.nombre}} <strong style="float: right">[{{cliente.rol.nombre_rol}}]</strong></ion-label>
        </ion-item>
       </ion-list>
   </div>
</ion-content>
