
<ion-content>

        <ion-title padding center text-center>Somiplantas</ion-title>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="user" placeholder="Usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" placeholder="Contarseña" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="success" expand="block" (click)="Login()" >Login</ion-button>
  <ion-button color="warning" expand="block">¿Aun no tienes cuenta? Registro</ion-button>
</ion-content>
