
        <h1 text-center>Somiplantas</h1>
        <ion-img style="width: 60%; margin: auto" src="/assets/flor-inicio.png"></ion-img>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="user" placeholder="Usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" placeholder="Contarseña" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-text *ngIf="errorTF" >
    <p>Esta herramienta es solo para administradores</p>
  </ion-text>
  <ion-button color="success" expand="block" (click)="Login()" >Login</ion-button>
  <small style="color:gray">Si no tiene acceso contacte con un administrador para que le de los permisos correspondientes</small>
