<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-label>Inicio</ion-label>
      <ion-icon name="home"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-label>Pedidos</ion-label>
      <ion-icon name="md-cart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/articulos']" >
      <ion-label>Articulos</ion-label>
      <ion-icon name="md-basket"></ion-icon>
    </ion-tab-button>

    <ion-tab-button  [routerLink]="['/clientes']">
      <ion-label>Usuarios</ion-label>
      <ion-icon name="md-contact"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
