<ion-header>
  <ion-toolbar>
    <ion-title>pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header><h1>Modificacion pedido</h1>
        <p>Codigo pedido: {{Pedido.codpedido}}</p>
        <p>Fecha: {{Pedido.fecha}}</p>
        <p>Cliente: {{Pedido.cliente.nombre}} {{Pedido.cliente.apellido}}</p></ion-card-header>
    
        
        <ion-card-content>
            
              <h2>Articulos</h2>

              <div class="form-group">
                <ion-label for="comment">Descripción:</ion-label>
                <ion-textarea class="form-control" placeholder="Introduce una descripcion...." [(ngModel)]="Pedido.descripcion" rows="5" id="descripcion"></ion-textarea>
              </div>

              <div class="row mt-2" *ngFor="let item of listaEspecificaciones; let i = index" (change)="UpdateTotal()">
              
                <label for="" class="mr-2 ml-2 mt-1"> Item {{i + 1}}</label>
              <ion-input disabled [(ngModel)]="listaEspecificaciones[i].id.art.nombre" style="max-width: 15%" class="form-control" type="text"></ion-input>
              <label for="" class="mr-2 ml-2 mt-1"> Cantidad :</label>
              <ion-input [(ngModel)]="listaEspecificaciones[i].cantidad" min="0" max="50" aria-valuemin="0" style="max-width: 15%" class="form-control ml-2" type="number"></ion-input>
              <label for="" class="mr-2 ml-2 mt-1"> Total :</label>
              <ion-input disabled [(ngModel)]="listaEspecificaciones[i].precio" style="max-width: 15%" class="form-control ml-2" type="text"></ion-input>
              </div>

            
          </ion-card-content>
          <div>
            <div class="input-group-prepend">
            </div>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-select [(ngModel)]="Pedido.estado.id" class="custom-select" placeholder="{{Pedido.estado.estado}}" id="inputGroupSelect01">
                <ion-select-option value="1">Nuevo pedido</ion-select-option>
                <ion-select-option value="2">En proceso</ion-select-option>
                <ion-select-option value="3">Listo para envio</ion-select-option>
                <ion-select-option value="4">En envio</ion-select-option>
                <ion-select-option value="5">Finalizado</ion-select-option>
                <ion-select-option value="6">Cancelado</ion-select-option>
                <ion-select-option value="7">En modificacion</ion-select-option>
                
              </ion-select>
            </ion-item>
            
          </div>
          <label><strong style="float: right; font:400;">Total : {{Pedido.total}}€</strong></label>
          <ion-button (click)="comprar()" style="float: left;">Guardar</ion-button>
          <ion-button [routerLink]="['/pedidos']" style="float: left;">Cancelar</ion-button>
  </ion-card>

</ion-content>
