<ion-header>
  <ion-toolbar>
    <ion-title>{{cliente.usuario}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre: {{cliente.nombre}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Apellidos: {{cliente.apellidos}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Id: {{cliente.id}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Codigo Rol: {{rol}} <ion-button style="float: right" (click)="cambiarRol()" ><ion-icon name="repeat"></ion-icon></ion-button></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Telefono: {{cliente.telefono}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Direccion: {{cliente.dir.direc}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Activo: {{cliente.activo}} <ion-button style="float: right" (click)="Activarcliente()" ><ion-icon name="repeat"></ion-icon></ion-button></ion-label>
  </ion-item>
</ion-content>
<ion-button (click)="guardarCliente()" >Guardar</ion-button>
